# Key        GPIO Pin        Console Button

W               19           # D-PAD UP
S                5           # D-PAD DOWN
A               13           # D-PAD LEFT
D                6           # D-PAD RIGHT

ENTER           26           # START
RIGHTSHIFT      10           # SELECT

H               20           # BUTTON A / EAST
G               21           # BUTTON B / SOUTH
T               12           # BUTTON X / NORTH
F               16           # BUTTON Y / WEST

Q                9           # LEFT SHOULDER
E                8           # RIGHT SHOULDER
Z               11           # LEFT TRIGGER
C                7           # RIGHT TRIGGER
